<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>智慧学习系统-系统登陆</title>
    <link href="assets/css/icons.css" rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet">


</head>

<body class="sticky-header">


    <!--Start login Section-->
    <section class="login-section">
        <div class="container">
            <div class="row">
                <div class="login-wrapper">
                    <div class="login-inner">
                        <h1 class="header-title text-center">系统登陆</h1>
                        <form action="/login" method="post">
                            <div class="form-group">
                                <input type="username" class="form-control" id="exampleInputUsername1" placeholder="请输入用户名"
                                    name="username" th:value="${errorUser}!=null?${errorUser.username}:''">
                            </div>

                            <div class="form-group">
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="请输入密码"
                                    name="password" th:value="${errorUser}!=null?${errorUser.password}:''">
                            </div>

                            <div class="form-group">
                                <!--<input type="" id="exampleInputFile">-->
                                <select id="exampleInputFile" class="form-control" name="role">
                                    <option value="2">学生</option>
                                    <option value="1">教师</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" id="exampleInputPassword12" placeholder="请输入验证码"
                                    name="verifyCode">
                                <img src="/getcode" onclick="javascript:this.src=this.src+'?time='+Math.random()">
                            </div>

                            <div class="form-group">
                                <div class="pull-right">
                                    <a href="#" class="a-link">
                                        <i class="fa fa-unlock-alt"></i> Forgot password?
                                    </a>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="登陆" class="btn btn-primary btn-block">
                            </div>

                            <label style="color: red">
                                [[${msg}]]
                            </label>
                        </form>

                        <div class="copy-text">
                            <p class="m-0">2018-2019 &copy; xxx</p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--End login Section-->

    <!--Begin core plugin -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- End core plugin -->

</body>

</html>