<div class="left-side sticky-left-side" th:fragment="lefterBar">
    <!--logo-->
    <div class="logo">
        <!--<a th:href="@{/index.html}"><img src="/assets/images/stuPic.png" alt=""></a><br />-->
    </div>

    <!--<div class="logo-icon text-center">
        <a href="index.html"><img src="assets/images/logo-icon.png" alt=""></a>
    </div>-->
    <!--logo-->

    <div class="left-side-inner">
        <!--Sidebar nav-->
        <ul class="nav nav-pills nav-stacked custom-nav">

            <li><a th:href="@{/student/message/list}"><i class="icon-bell"></i> <span>通知公告</span></a></li>
            <!--<li ><a href="#"><i class="icon-film"></i> <span>评分标准</span></a></li>-->
            <li><a th:href="@{/student/course/courseList}"><i class="icon-folder"></i> <span>学习资料</span></a></li>
            <li><a th:href="@{/student/homework/list}"><i class="icon-pencil"></i> <span>检测与作业</span></a></li>
            <li><a th:href="@{/student/discussion/topicList}"><i class="icon-speech"></i> <span>讨论区</span></a></li>
            <li><a th:href="@{/student/exam/list}"><i class="icon-note"></i> <span>智能化练习</span></a></li>
        </ul>
        <!--End sidebar nav-->

    </div>
</div>