<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bjfu.jtap.mapper.ExamQuestionUserMapper" >
  <resultMap id="BaseResultMap" type="com.bjfu.jtap.entity.ExamQuestionUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="eid" property="eid" jdbcType="INTEGER" />
    <result column="qid" property="qid" jdbcType="INTEGER" />
    <result column="q_type" property="qType" jdbcType="INTEGER" />
    <result column="user_answer" property="userAnswer" jdbcType="VARCHAR" />
    <result column="answer_flag" property="answerFlag" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="diff" property="diff" jdbcType="INTEGER" />
    <result column="point" property="point" jdbcType="REAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, eid, qid, q_type, user_answer, answer_flag, user_id, diff, point
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bjfu.jtap.entity.ExamQuestionUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from exam_question_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from exam_question_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from exam_question_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bjfu.jtap.entity.ExamQuestionUserExample" >
    delete from exam_question_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bjfu.jtap.entity.ExamQuestionUser" >
    insert into exam_question_user (id, eid, qid, 
      q_type, user_answer, answer_flag, 
      user_id, diff, point)
    values (#{id,jdbcType=INTEGER}, #{eid,jdbcType=INTEGER}, #{qid,jdbcType=INTEGER}, 
      #{qType,jdbcType=INTEGER}, #{userAnswer,jdbcType=VARCHAR}, #{answerFlag,jdbcType=INTEGER}, 
      #{userId,jdbcType=INTEGER}, #{diff,jdbcType=INTEGER}, #{point,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.bjfu.jtap.entity.ExamQuestionUser" >
    insert into exam_question_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="eid != null" >
        eid,
      </if>
      <if test="qid != null" >
        qid,
      </if>
      <if test="qType != null" >
        q_type,
      </if>
      <if test="userAnswer != null" >
        user_answer,
      </if>
      <if test="answerFlag != null" >
        answer_flag,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="diff != null" >
        diff,
      </if>
      <if test="point != null" >
        point,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="eid != null" >
        #{eid,jdbcType=INTEGER},
      </if>
      <if test="qid != null" >
        #{qid,jdbcType=INTEGER},
      </if>
      <if test="qType != null" >
        #{qType,jdbcType=INTEGER},
      </if>
      <if test="userAnswer != null" >
        #{userAnswer,jdbcType=VARCHAR},
      </if>
      <if test="answerFlag != null" >
        #{answerFlag,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="diff != null" >
        #{diff,jdbcType=INTEGER},
      </if>
      <if test="point != null" >
        #{point,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bjfu.jtap.entity.ExamQuestionUserExample" resultType="java.lang.Integer" >
    select count(*) from exam_question_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update exam_question_user
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.eid != null" >
        eid = #{record.eid,jdbcType=INTEGER},
      </if>
      <if test="record.qid != null" >
        qid = #{record.qid,jdbcType=INTEGER},
      </if>
      <if test="record.qType != null" >
        q_type = #{record.qType,jdbcType=INTEGER},
      </if>
      <if test="record.userAnswer != null" >
        user_answer = #{record.userAnswer,jdbcType=VARCHAR},
      </if>
      <if test="record.answerFlag != null" >
        answer_flag = #{record.answerFlag,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.diff != null" >
        diff = #{record.diff,jdbcType=INTEGER},
      </if>
      <if test="record.point != null" >
        point = #{record.point,jdbcType=REAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update exam_question_user
    set id = #{record.id,jdbcType=INTEGER},
      eid = #{record.eid,jdbcType=INTEGER},
      qid = #{record.qid,jdbcType=INTEGER},
      q_type = #{record.qType,jdbcType=INTEGER},
      user_answer = #{record.userAnswer,jdbcType=VARCHAR},
      answer_flag = #{record.answerFlag,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      diff = #{record.diff,jdbcType=INTEGER},
      point = #{record.point,jdbcType=REAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bjfu.jtap.entity.ExamQuestionUser" >
    update exam_question_user
    <set >
      <if test="eid != null" >
        eid = #{eid,jdbcType=INTEGER},
      </if>
      <if test="qid != null" >
        qid = #{qid,jdbcType=INTEGER},
      </if>
      <if test="qType != null" >
        q_type = #{qType,jdbcType=INTEGER},
      </if>
      <if test="userAnswer != null" >
        user_answer = #{userAnswer,jdbcType=VARCHAR},
      </if>
      <if test="answerFlag != null" >
        answer_flag = #{answerFlag,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="diff != null" >
        diff = #{diff,jdbcType=INTEGER},
      </if>
      <if test="point != null" >
        point = #{point,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bjfu.jtap.entity.ExamQuestionUser" >
    update exam_question_user
    set eid = #{eid,jdbcType=INTEGER},
      qid = #{qid,jdbcType=INTEGER},
      q_type = #{qType,jdbcType=INTEGER},
      user_answer = #{userAnswer,jdbcType=VARCHAR},
      answer_flag = #{answerFlag,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      diff = #{diff,jdbcType=INTEGER},
      point = #{point,jdbcType=REAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>