<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>智慧学习系统</title>

    <link href="/assets/plugins/morris-chart/morris.css" rel="stylesheet">
    <link href="/assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="/assets/css/icons.css" rel="stylesheet">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/responsive.css" rel="stylesheet">

</head>

<body class="sticky-header">
    <!--引入左侧菜单栏-->
    <div th:replace="/teacher/lefter :: lefterBar(activeUrl='term')"></div>
    <!-- main content start-->
    <div class="main-content">
        <!--引入上部分-->
        <div th:replace="/teacher/header :: headerBar"></div>
        <!--body wrapper start-->
        <div class="wrapper">
            <!--Start Page Title-->
            <div class="page-title-box">
                <h4 class="page-title">课程添加</h4>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">课程管理</a>
                    </li>

                    <li class="active">
                        课程添加
                    </li>
                </ol>
                <div class="clearfix"></div>
            </div>
            <!--End Page Title-->


            <!--Start row-->
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">

                        </div>
                    </div>
                </div>
            </div>
            <!--End row-->



            <!--Start row-->
            <div class="row">
                <div class="col-md-12">
                    <div class="white-box">
                        <form class="form-horizontal" action="/teacher/term/add" method="post">
                            <div class="form-group">
                                <label for="inputUsername" class="col-sm-2 control-label">课程名称</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control"  placeholder="学期名称" name="name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputUsername" class="col-sm-2 control-label">课程开始日期</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control"  placeholder="yyyy-MM-dd"
                                        name="begintime">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputUsername" class="col-sm-2 control-label">课程结束时间</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" placeholder="yyyy-MM-dd"
                                        name="endtime">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-default">添加</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!--End row-->
        <div th:replace="/teacher/footer :: footerBar"></div>
    </div>
    <!-- End Wrapper-->


    </div>
    <!--End main content -->

    <!--Begin core plugin -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/plugins/moment/moment.js"></script>
    <script src="/assets/js/jquery.slimscroll.js "></script>
    <script src="/assets/js/jquery.nicescroll.js"></script>
    <script src="/assets/js/functions.js"></script>
    <!-- End core plugin -->

    <!--Begin Page Level Plugin-->
    <script src="/assets/plugins/morris-chart/morris.js"></script>
    <script src="/assets/plugins/morris-chart/raphael-min.js"></script>
    <script src="/assets/plugins/jquery-sparkline/jquery.charts-sparkline.js"></script>
    <script src="/assets/pages/dashboard2.js"></script>
    <script src="/assets/plugins/chart-js/Chart.js"></script>


</body>

</html>