<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>智慧学习系统</title>

    <link href="assets/plugins/morris-chart/morris.css" rel="stylesheet">
    <link href="assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="assets/css/icons.css" rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet">

</head>

<body class="sticky-header">
    <!--引入左侧菜单栏-->
    <div th:replace="/teacher/lefter :: lefterBar"></div>

    <!-- main content start-->
    <div class="main-content">
        <!--引入上部分-->
        <div th:replace="/teacher/header :: headerBar"></div>

        <!--body wrapper start-->
        <div class="wrapper">
            <!--Start row-->
            <div class="row">
                <div class="col-md-12">
                    <div class="white-box">
                        教师您好，欢迎您进入系统工作，您辛苦了！
                    </div>
                </div>
            </div>
            
        </div>
        <!--End row-->
        <div th:replace="/teacher/footer :: footerBar"></div>

    </div>

    </div>
    <!--End main content -->

    <!--Begin core plugin -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/plugins/moment/moment.js"></script>
    <script src="assets/js/jquery.slimscroll.js "></script>
    <script src="assets/js/jquery.nicescroll.js"></script>
    <script src="assets/js/functions.js"></script>
    <!-- End core plugin -->

    <!--Begin Page Level Plugin-->
    <script src="assets/plugins/morris-chart/morris.js"></script>
    <script src="assets/plugins/morris-chart/raphael-min.js"></script>
    <script src="assets/plugins/jquery-sparkline/jquery.charts-sparkline.js"></script>
    <script src="assets/pages/dashboard2.js"></script>
    <script src="assets/plugins/chart-js/Chart.js"></script>


</body>

</html>