<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>智慧学习系统</title>

    <link href="/assets/plugins/morris-chart/morris.css" rel="stylesheet">
    <link href="/assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="/assets/css/icons.css" rel="stylesheet">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/responsive.css" rel="stylesheet">
</head>

<body class="sticky-header">
    <!--引入左侧菜单栏-->
    <div th:replace="/teacher/lefter :: lefterBar(activeUrl='student')"></div>
    <!-- main content start-->
    <div class="main-content">
        <!--引入上部分-->
        <div th:replace="/teacher/header :: headerBar"></div>

        <!--body wrapper start-->
        <div class="wrapper">

            <!--Start Page Title-->
            <div class="page-title-box">
                <h4 class="page-title">学生添加</h4>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">学生管理</a>
                    </li>

                    <li class="active">
                        学生添加
                    </li>
                </ol>
                <div class="clearfix"></div>
            </div>
            <!--End Page Title-->


            <!--Start row-->
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">

                        </div>
                    </div>
                </div>
            </div>
            <!--End row-->



            <!--Start row-->
            <div class="row">
                <div class="col-md-12">
                    <div class="white-box">
                        <!-- 学生添加 -->

                        <form class="form-horizontal" action="/teacher/student/add" method="post">
                            <!-- 教师Id  -->
                            <input type="hidden" name="teacherId" th:value="${session.user!=null?session.user.id:0}">

                            <div class="form-group">
                                <label for="inputUsername6" class="col-sm-2 control-label">所属学期</label>
                                <div class="col-sm-3">
                                    <select class="form-control" name="termId">
                                        <option th:each="term:${termList}" th:value="${term.id}">[[${term.name}]]</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputUsername1" class="col-sm-2 control-label">学号</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="inputUsername1" placeholder="学号" name="username">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputUsername2" class="col-sm-2 control-label">姓名</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="inputUsername2" placeholder="姓名" name="name">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputUsername3" class="col-sm-2 control-label">性别</label>
                                <div class="col-sm-3">
                                    <select class="form-control" name="gender">
                                        <option value="男">男</option>
                                        <option value="女">女</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputUsername4" class="col-sm-2 control-label">学院</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="inputUsername4" placeholder="学院" name="college">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputUsername5" class="col-sm-2 control-label">专业班级</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="inputUsername5" placeholder="专业班级" name="major">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-default">添加</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!--End row-->
        <div th:replace="/teacher/footer :: footerBar"></div>
    </div>
    <!-- End Wrapper-->

    </div>
    <!--End main content -->



    <!--Begin core plugin -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/plugins/moment/moment.js"></script>
    <script src="/assets/js/jquery.slimscroll.js "></script>
    <script src="/assets/js/jquery.nicescroll.js"></script>
    <script src="/assets/js/functions.js"></script>
    <!-- End core plugin -->

    <!--Begin Page Level Plugin-->
    <script src="/assets/plugins/morris-chart/morris.js"></script>
    <script src="/assets/plugins/morris-chart/raphael-min.js"></script>
    <script src="/assets/plugins/jquery-sparkline/jquery.charts-sparkline.js"></script>
    <script src="/assets/pages/dashboard2.js"></script>
    <script src="/assets/plugins/chart-js/Chart.js"></script>


</body>

</html>