<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="icon" href="/assets/images/favicon.png" type="image/png">
    <title>智慧学习系统</title>
    <link href="/assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="/assets/css/icons.css" rel="stylesheet">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/responsive.css" rel="stylesheet">
    <link href="/assets/plugins/summernote-master/summernote.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="http://cdn.staticfile.org/element-ui/2.13.1/theme-chalk/index.css">
    <script src="http://cdn.staticfile.org/vue/2.6.11/vue.min.js"></script>
    <script src="http://cdn.staticfile.org/axios/0.19.2/axios.min.js"></script>
    <script src="http://cdn.staticfile.org/element-ui/2.13.1/index.js"></script>
</head>

<body class="sticky-header">
    <!--引入左侧菜单栏-->
    <div th:replace="/student/lefter :: lefterBar(activeUrl='exam')"></div>
    <!-- main content start-->
    <!-- main content start-->
    <div class="main-content">
        <div th:replace="/student/header :: headerBar"></div>
        <!--body wrapper start-->
        <div class="wrapper" id="app">
            <!--Start Page Title-->
            <div class="page-title-box">
                <h4 class="page-title"></h4>
                <ol class="breadcrumb">
                    <li>
                        <a href="#"></a>
                    </li>
                    <li class="active">
                    </li>
                </ol>
                <div class="clearfix">
                    <el-button type="primary" round @click="toDoneExam">已作答试题</el-button>
                </div>
            </div>
            <!--End Page Title-->

            <!--Start row-->
            <div class="row">
                <div class="col-md-4" v-for="item in examList" :key="item.id">
                    <div class="white-box">
                        <h2 class="header-title">考试id:{{item.id}}</h2>
                        <el-card class="box-card">
                            <div slot="header" class="clearfix">
                                <span>{{item.examName}}</span>
                                <el-button style="float: right; padding: 3px 0" type="text" @click="toDetail(item.id)">进入测试</el-button>
                            </div>
                            <div>
                                考试创建时间：{{item.createTime | formatTimer}}<br />
                                考试开始时间：{{item.startTime | formatTimer}}<br />
                                考试开始时间：{{item.endTime | formatTimer}}
                            </div>
                        </el-card>
                    </div>
                </div>
            </div>
            <!--End row-->
        </div>
        <!--End row-->
        <div th:replace="/student/footer :: footerBar"></div>
    </div>
    <!-- End Wrapper-->

    </div>
    <!--End main content -->


    <!--Begin core plugin -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.slimscroll.js "></script>
    <script src="/assets/js/jquery.nicescroll.js"></script>
    <script src="/assets/js/functions.js"></script>
    <!-- End core plugin -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="/assets/plugins/summernote-master/summernote.min.js"></script>
    <script src="/assets/pages/compose.js"></script>
    <!-- BEGIN PAGE LEVEL SCRIPTS -->


    <script>
        new Vue({
            el: '#app',//与当前文件名保持一直
            data: {
                examList: [],
                doingExam: null
            },
            methods: {
                //初始化
                init() {
                    this.getDoingExam()
                    this.getExamList()
                },
                // 获取未完成的考试
                getDoingExam() {
                    axios.get('/api/exam/getDoingExam').then(response => {
                        console.log(response.data)
                        if (response.data != '') {
                            this.doingExam = response.data
                            //获取考试页
                            let examPage = 0;
                            axios.get('/api/exam/getDoingExam/examPage/' + this.doingExam.id).then(response => {
                                examPage = response.data
                            })
                            this.$alert('您还有未完成的考试，请前往考试页面继续考试哦~', '提示', {
                                confirmButtonText: '进入考试',
                                showClose: false,
                                callback: action => {
                                    window.location.href = "/student/do-exam/" + examPage + "/" + this.doingExam.id
                                }
                            });
                        }

                    })
                },
                // 获取考试list
                getExamList() {
                    axios.get('/api/exam/list').then(response => {
                        this.examList = response.data
                    })
                },
                //去详情页面
                toDetail(eid) {

                    //校验当前考试是否可进入
                    axios.get('/api/validate/exam/entry/' + eid).then(response => {
                        let isEntryResult = response.data
                        // 校验通过
                        if (isEntryResult.status == 200) {
                            this.$confirm('进入测试后不可退出, 是否继续?', '提示', {
                                confirmButtonText: '确定',
                                cancelButtonText: '取消',
                                type: 'warning'
                            }).then(() => {
                                this.$message({
                                    type: 'success',
                                    message: '开始作答，加油!'
                                });
                                //通过之后创建考试，并进入考试页面
                                axios.get('/api/create/exam/' + eid).then(response => {
                                    window.location.href = "/student/do-exam/0/" + eid
                                })
                            })


                        }
                        // 校验不通过
                        if (isEntryResult.status === 500) {
                            this.$message.error(isEntryResult.msg);
                        }
                    })


                },
                // 去已完成作答的页面
                toDoneExam() {
                    window.location.href = "/student/exam/done"
                }
            },
            filters: {
                formatTimer: function (value) {
                    let date = new Date(value);
                    let y = date.getFullYear();
                    let MM = date.getMonth() + 1;
                    MM = MM < 10 ? "0" + MM : MM;
                    let d = date.getDate();
                    d = d < 10 ? "0" + d : d;
                    let h = date.getHours();
                    h = h < 10 ? "0" + h : h;
                    let m = date.getMinutes();
                    m = m < 10 ? "0" + m : m;
                    let s = date.getSeconds();
                    s = s < 10 ? "0" + s : s;
                    return y + "-" + MM + "-" + d + " " + h + ":" + m;
                }
            },
            mounted() {
                this.init();
            }
        });
    </script>
</body>

</html>