<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="icon" href="/assets/images/favicon.png" type="image/png">
    <title>智慧学习系统</title>
    <link href="/assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="/assets/css/icons.css" rel="stylesheet">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/responsive.css" rel="stylesheet">
    <link href="/assets/plugins/summernote-master/summernote.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="http://cdn.staticfile.org/element-ui/2.13.1/theme-chalk/index.css">
    <script src="http://cdn.staticfile.org/vue/2.6.11/vue.min.js"></script>
    <script src="http://cdn.staticfile.org/axios/0.19.2/axios.min.js"></script>
    <script src="http://cdn.staticfile.org/element-ui/2.13.1/index.js"></script>
</head>

<body class="sticky-header">
    <!--引入左侧菜单栏-->
    <div th:replace="/teacher/lefter :: lefterBar(activeUrl='exam')"></div>
    <input type="hidden" id="examId" th:value="${examId}">
    <!-- main content start-->
    <!-- main content start-->
    <div class="main-content">
        <div th:replace="/teacher/header :: headerBar"></div>
        <!--body wrapper start-->
        <div class="wrapper" id="app">
            <!--Start Page Title-->
            <div class="page-title-box">
                <h4 class="page-title"></h4>
                <ol class="breadcrumb">
                    <li>
                        <a href="#"></a>
                    </li>
                    <li class="active">
                    </li>
                </ol>
                <div class="clearfix"></div>
            </div>
            <!--End Page Title-->

            <!--Start row-->
            <div class="row">
                <div class="col-md-12">
                    <div class="white-box">
                        <el-table :data="tableData" stripe style="width: 100%">
                            <el-table-column prop="userName" label="考生姓名" width="180">
                            </el-table-column>
                            <el-table-column prop="point" label="得分" width="180">
                            </el-table-column>
                            <el-table-column prop="status" label="考试状态" width="180">
                            </el-table-column>
                            <el-table-column label="操作" width="100">
                                <template slot-scope="scope">
                                    <el-button @click="toDetail(scope.row.userId)" type="text" size="small">详情</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </div>
                </div>
            </div>
            <!--End row-->
        </div>
        <!--End row-->
        <div th:replace="/teacher/footer :: footerBar"></div>
    </div>
    <!-- End Wrapper-->

    </div>
    <!--End main content -->


    <!--Begin core plugin -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.slimscroll.js "></script>
    <script src="/assets/js/jquery.nicescroll.js"></script>
    <script src="/assets/js/functions.js"></script>
    <!-- End core plugin -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="/assets/plugins/summernote-master/summernote.min.js"></script>
    <script src="/assets/pages/compose.js"></script>
    <!-- BEGIN PAGE LEVEL SCRIPTS -->


    <script>
        new Vue({
            el: '#app',
            data: {
                examId: 0,
                tableData: []
            },
            methods: {
                init() {
                    this.examId = $("#examId").val()
                    axios.get('/api/exam-user/exam-list/' + this.examId).then(response => {
                        this.tableData = response.data
                    })
                },
                toDetail(userId) {
                    window.location.href = "/teacher/exam/detail?examId=" + this.examId + "&userId=" + userId

                }
            },
            mounted() {
                this.init();
            }
        });
    </script>
</body>

</html>